<!DOCTYPE html>
<html >
<head>
<meta charset="ISO-8859-1">
<title>accessoriesView</title>
</head>
<body>
</head>
<body>
<div class="container">
<ul class="list-unstyled" data-ng-repeat="item in accessories | filter:query">
 <li class="accessoriesliste" data-ng-animate="animate"style="overflow-y:hidden;">

 <img  class="picture"data-ng-src="{{item.image_path}}"/>   
  <!-- <h5 class="product" style="color:blue"><i>product description:</i><br> {{item.product_description}}</h5>  -->
<span  class="price_detail"style="color:red">{{item.price |currency | filter:query}}   {{item.shipping_details}}</span>
<button class="buy_button" data-ng-click="addToCart(item)">Add to cart</button> 
 <button class="wishList_button" data-ng-click="addToWishList(item)">Add to wishlist</button>  
 
 </li>
 </ul>

</div>




<script type="text/javascript" src="javascript/shop.js"></script>







</body>
</html>